%h1 Trenes disponibles
%h2= "Hay trenes de #{@alert.from} a #{@alert.to} para el #{@alert.when.strftime('%d/%m/%Y')}"
%br/
Visita
%a{:href => 'www.renfe.com'} renfe
para su compra
%br/
%br/
%a{:href => unsubscribe_url(id: @alert.id)} No quiero recibir más emails sobre esta alerta.

